.medicament{
   margin-top: 70px;
   .top{
    .tete{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            font-size: 18px;
            font-weight: bold;
            border-bottom: 1px solid #000;


    }
    .btn{
        height: 35px;
    }

    }
    .card{
        margin-top: 20px;

    }
   }
}