.fadeLoader{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mainMedicament{
    margin: .8rem;
    padding: .8rem;
    .medicamentTop{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: .8rem;
    }
}