.parametreMain {
    margin: 1rem;
    padding: 1rem;

    .utilisateur {
        .topUtilisateur {
            margin-bottom: .5rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            span {
                border-bottom: .8px solid aliceblue;
            }
        }
    }

    .containairParametre {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 10vh;
        margin-top: 1rem;
        padding-top: .5rem;

        .pourcentage {
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            -webkit-box-shadow: -2px -5px 18px -8px #000000;
            box-shadow: -2px -5px 18px -8px #000000;
            border-radius: 10px;
            height: 10vh;
            p{
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

        .Logo {
            display: flex;
            margin-left: .8rem;
            flex: 1;
            align-items: center;
            justify-content: space-between;
            -webkit-box-shadow: -2px -5px 18px -8px #000000;
            box-shadow: -2px -5px 18px -8px #000000;
            border-radius: 10px;
            height: 10vh;
            img{
                width: 15%;
                height: 5vh;
            }
        }

        .Name {
            margin-left: .8rem;
            flex: 1;
            display: flex;
            align-items: center;
            justify-content: space-between;
            -webkit-box-shadow: -2px -5px 18px -8px #000000;
            box-shadow: -2px -5px 18px -8px #000000;
            border-radius: 10px;
            height: 10vh;
            p{
                span{
                    font-size: 20px;
                    font-weight: bold;
                }
            }
        }

    }

}