.achat{
    margin: 1.3rem;
    padding-top: 1rem;
    .topAchat{
        background-color: aliceblue;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: space-between;
        height: 8vh;
        border-radius: 6px;
        label{
            padding: .5rem;
            font-size: 20px; 
            font-weight: bold;           
        }
        .inputNo{
           display: flex;
           align-items: center;
           justify-content: end;
           padding-right: .5rem;
            label{
                font-size: 15px; 
                font-weight: bold;                
            }
            input{
                height: 4vh;
                width: 40%; 
                border-radius: 4px;     
                
            }
        }
        
    }
    .fournisseur{
        margin-top: .5rem;
        display: flex;
        padding-left: .5rem;
        padding-right: .5rem;
        align-items: center;
        justify-content: space-between;
        border: 1px solid aliceblue;
        height: 8vh;
        border-radius: 4px;
        label{
            padding-right: .3rem;
        }
        input{
            border-radius: 6px;
        }
        select{border-radius: 6px;

        }
    }
    .information{
        margin-top: .5rem;
        display: flex;
        .tableAchat{
            flex: 3;
            margin-left: 2px;
        }
        .panierAchat{
            flex: 4;
            padding-right: 4px;
            .topPanier{
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: aliceblue;
                height: 6vh;
                border-radius: 4px;
                box-shadow:  1px saddlebrown;
                span{
                    font-weight: bold;
                }
               
            }
            .containerPanier{
                ul{
                    margin-top: .5rem;
                    text-decoration: none;
                    li{ 
                        display: flex; 
                        justify-content: space-between;                     
                        list-style: none;
                        align-items: center;
                        border-bottom: .8px solid aliceblue;
                       p{
                        flex: 1;
                        span{
                            font-weight: bold;
                        }
                        button{
                            margin: .2rem;
                        }
                       }
                                     
                    }
                }

            }
            .montantTotalPanier{
                display: flex;
                align-items: center;
                justify-content: end;
            }
            .butonPanier{
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    background-color: green;
                    border: none;
                    border-radius: 10px;
                    color: antiquewhite;
                    font-weight: bold;
                    width: 80%;
                    height: 5vh;
                }
            }

        }
    }

}