.statistique{
    margin: 1rem;
    padding-top: 1rem;
    .statMois{
        .selectAnnees{
            margin-bottom: .5rem;
            select{
                border-radius: 8px;
            }

        }

    }
}
